*{
    margin: 0;
    padding: 0;
}
/* ----------popup------------------- */
.popup{
    background-color: #1D232C;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    font-size: 20px;
}
.popup_off{
    font-family:"Boldonse", system-ui;
        font-style: normal;
        font-size: large;
        margin: 0 5px;
        text-align: center;
}
#close{
    position: absolute;
    right: 300px;
    top: 10px;
    cursor: pointer;
}

/* ------------hearder----------- */
.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
    box-shadow:0px 2px 10px rgba(0,0,0) ;
}
.header h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* --------------menubar-------------------- */
#menubar{
    font-size: 20px;
    display: none;
    cursor: pointer;
    
}
.header_elements{
    display:flex ;
    gap: 80px;
    padding: 0 20px;
}
.header_elements_link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 900;
}
.header_elements_menu{
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-color: #1D232C;
    color: white;
    height: 100vh;
    width: 50%;
    position: fixed;
    top: 0;
    right: -50%;
    transition: all;
    transition-duration: 800ms;
    z-index: 100;
    
   
}
#close_menu{
    font-size: 25px;
    position: relative;
    top: 30px;
    left: 93%;
    cursor: pointer;
    margin-bottom: 10px;
}
.header_elements_menu a{
    padding: 20px;
}
.header_elements_menu a:hover{
    transition:all;
    transition-duration: 800ms;
    background-color: white;
    color: black;
    border-left: solid 25px rgba(10, 178, 225, 0.747);
    transform: translateX(10px);
    
}
.header_elements_link_menu{
    color: white;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    
}


/* -------------image Slider------------- */
.main_image{
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}
.image_slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 2s;
    gap: 20px;
    
}
.img_main{
    width: 98vw;
    height: 79vh;
    border-radius: 10px;
    filter: brightness(0.4);
    margin-left: 0.5%;
    
}
.text_content{
    position: absolute;
    top: 32%;
    text-align: center;
    left: 19%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_content h1{
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size:4.5vw;
  color: white;

}
.text_content p{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}
.text_content button{
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
}
.left_btn{
    position: absolute;
    top: 35%;
    left: 10%;
    z-index: 6;
}
.left_btn i{
    font-size: 10vw;
    cursor: pointer;
}
.right_btn{
    position: absolute;
    top: 35%;
    right: 10%;
    z-index: 7;
}
.right_btn i{
    font-size: 10vw;
    cursor: pointer;
}


/* -------------------brands---------------- */
.brand{
    padding: 20px;
}
.brand h1{
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0 25px;
  margin-bottom: 20px;
}
.brand_list{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin: 0 25px;
}
.brand_name{
    width: 70px;
   
}
.brand_name p{
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
}

.brand_name img{
    width: 100%;
    filter: brightness(0);
}

/* --------------costomer-------------- */
.costomer{
    margin: 10px 25px;
    padding: 5px;
}
.costomer_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.costomer_header h1{
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.costomer_header p{
    font-size: 25px;
}
.costomer_container{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.costomer_container_details{
    background-color: gainsboro;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.costomer_container_details i{
    font-size: 40px;
    margin-bottom: 10px;
    
}
.costomer_container_details h3{
    font-size: 20px;
    margin-top: 15px;
}
.costomer_container_details p{
    margin-top: 10px;
}

/* ----------New Arrival--------------- */
.new_arrival{
    padding: 20px;
    margin: 10px 10px;
}
.new_arrival h1{
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.arrival_img{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}
.arrival_container{
    position: relative;
    flex-grow: 1;
    flex-basis: 35%;
   
}
.arrival_container img{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    filter: brightness(0.5);
    
}
.arrival_container button{
    padding: 10px 15px;
    position: absolute;
    top: 60%;
    right: 34%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 10px rgba(0,0,0);
}
.wanted{
    padding: 20px;
    
}
.wanted h1{
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0 10px;
}
.wanted_container{
    display:flex;
    justify-content: space-between;
    overflow-x: scroll;
    width: 100%;
    gap: 80px;
    margin-top: 30px;
}
.wanted_container::-webkit-scrollbar{
    appearance: none;
}
.wanted_img{
    position: relative;
}
.wanted_img img{
    width:20vw;
    border-radius: 10px;
    height: 90%;
}
.wanted_img h4{
    position: absolute;
    font-size: 2vw;
    background-color: red;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    top:1%;
    left: 1%;
}
.wanted_img i{
    font-size: 45px;
    position: absolute;
    bottom: 14%;
    right: 8%;
    cursor: pointer;
}
.far{
    color: black;
}
.fas{
    color: rgb(226, 19, 19);
    transition: 1s;
}

@media screen and (max-width:1400px) {
    .text_content h1{
        font-size: 4.5vw;
    }
}
@media screen and (max-width:1280px){
    .popup{
        font-size: 16px;
    }
    .popup_off{
        font-size: 16px;
    }
    #close{
        right: 30px;

    }
   

}
@media screen and (max-width:1024px){
    #menubar{
        display: block;
    }
    .header_elements{
        display: none;
    }
    #close_menu{
        left: 90%;
    }
    .image_slide{
        gap: 20px;
    }
    .img_main{
        margin-left:-0.5% ;
    }
    .costomer_header h1{
        font-size: 10px;
        padding-left:3px;
    }
    .costomer_header p{
        margin-left: 5px;
        font-size: 15px;
    }
    .costomer_container{
        display: grid;
        grid-template-columns:2fr 2fr;
    }
    .arrival_img{
        display: grid;
        grid-template-columns: 2fr 2fr;
        width: 100%;
        height:10%;
    }
   



}
@media screen and (max-width:800px){
    .popup{
        font-size: 12px;
    }
    .popup_off{
        font-size: 12px;
    }
    #close{
        right: 25px;
        top: 13px;

    }
    .header{
        font-size: 12px;
    }
    #menubar{
        display: block;
    }
    .header_elements{
        display: none;
    }
    .header_elements_link_menu{
        font-size: 20px;

    }
    #close_menu{
        left: 85%;
    }
    .main_image{
        margin-bottom: 20px;
    }
    .brand_name{
        width: 10%;
    }
    .brand_name p{
        font-size: 12px;
    }
    .brand h1{
        text-align: center;
    }
    .wanted_img i{
        font-size: 25px;
    }
    .wanted_container{
        gap: 15px;
    }

    
}
@media screen and (max-width:550px){

    .costomer_container{
        display: grid;
        grid-template-columns:1fr;
    }
    .arrival_container button{
        right: 20%;
    }
}

